
html { 
       font-size:100%; 
       margin: 0;
       width: 100%;
}

body{

       margin: 0;
       height:100%;
       font-family: 'Arial', sans-serif;
  
  }

td{
   
}
/* the board with numbers */
.header_h{

       font-size: 8vw;
       letter-spacing: 1vw;
       margin-bottom: 0px;
       margin-top: 5px;
       margin-left: 25%;
       font-family: Arial, Helvetica, sans-serif;
       
}

.header_p{

       letter-spacing: 1vw;
       font-size: 2.5vw;
       margin-left: 26%;
       margin-top: 0px;
       
}

hr{
       
       margin-top: -3.1vw;
       margin-left: 25%;
       margin-bottom: 0px;
       background-color: black;
       border: 1px solid;
      
}

.container{

       display: flex;
       margin-top: 5%;
       margin-left: 10%;
       margin-right: 10%;
       
       position: relative;

}

.countdown_square{

       width: 25vw;
       height: auto;
       background-color: #9a031e;
       text-align: center;
             
}
.countdown_square_number{

        padding-top: 22%;

}

.countdown_number{  

       font-size: 12vw;
          
}

.board_square{
       
       width: 25vw;
       height: 25vw;
       background-color: #fb8b24;
       padding: 1vw 1vw 1vw 1vw;
       text-align: center;
              
}

.btn_class{
       
       background: none transparent;
       border: black 1px solid;
       font-size: 2vw;
       padding: 0.5vw 1vw 0.5vw 1vw ;
     
}
.square{

}
/* where we check the numbers */
.seven_square{

       width: 25vw;
       height: 25vw;
       text-align: center;
       background-color: #0f4c5c;

}
.seven_square_number{

       padding-top: 22%;
    
}
.seven_sum_total{
       
       font-size: 12vw;
       
}
/* form */
.textview{

             
}
.form{

       
       overflow: hidden;
       visibility: hidden;
}






@media screen and (max-width: 750px) {

       .header_h{

              font-size: 7vw;
              letter-spacing: 2vw;
              margin-bottom: 0px;
              margin-top: 15px;
              margin-left: 15%;
              font-family: Arial, Helvetica, sans-serif;
       
       }
       
       .header_p{
       
              letter-spacing: 0.9vw;
              font-size: 3.5vw;
              margin-left: 17%;
              margin-top: 0px;
              
       }
       hr{
   
              margin-top: -4vw;
              margin-left: 15%;
              border: 0.25px solid;
              
       }

       .container{

              width: 33vw;
              margin-left: 30%;
              margin-top: 5%;
              flex-flow: column;

       }

       .countdown_square{

              text-align: center;
              width: 40vw;
              height: 40vw;

              
              
                   
       }
       .countdown_square_number{

              padding-top: 25%;
      
      }
      
       .countdown_number{  
      
             font-size: 17vw;
                
      }
      .board_square{
       
             width: 40vw;
             height: 40vw;
             background-color: #fb8b24;
             text-align: center;
              
}
       .btn_class{
              
             background: none transparent;
            /* border: none; */
             font-size: 3vw;
             font-weight: bold;
             color: black;
             padding: 1.5vw 2vw 1.5vw 2vw ;
     
}
       .seven_square{
       
              width: 40vw;
              height: 40vw;
              text-align: center;
              background-color: #0f4c5c;
       
       }
       .seven_square_number{
       
              padding-top: 25%;
           
       }
       .seven_sum_total{
              
              font-size: 17vw;
              
       }
}